<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindDining</title>
    <link rel="stylesheet" href="{% static 'css/404Styles.css' %}?{% now "U" %}
">

</head>
<body>
    <!-- MASCOT -->
    <img src="../static/images/ErrorMascot.png" width="250" height="230">

    <!-- Return home -->
    <h1>404</h1>
    <h2>The page you're looking for could not be found.</h2>
    <button id="homeButton"><a href="StartPage.html">Go to homepage</a></button>
</body>
</html>